.App {
  text-align: center;
}

.App__header {
  background-color: blanchedalmond;
  height: 10vh;
}

.App__footer {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  height: 10vh;
}

.App__main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgreen;
}
form {
  margin: 2rem;
}

h1 {
  padding: 1em;
}

button {
  padding: 0.75em 1.25em;
  border: 2px solid red;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}
